extends general

block script 
  script(src='https://sdk.mercadopago.com/js/v2')

block style 
  link(rel="stylesheet", href="/css/bootstrap.min.css")

block meta
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

block content
  nav.navbar.navbar-expand-md.navbar-light.justify-content-center
    lu.nav.nav-pills
      li.nav-item
        a.nav-link(href='/') Home
      li.nav-item
        a.nav-link(href='/users') Users
      li.nav-item
        a.nav-link(href='/plans') Plans
      li.nav-item
        a.nav-link.active(href='/cards') Cards

  .container
    form#form-checkout
      .mb-3
        input(class='form-control' id='card__number' type='text' name='cardNumber' )
      .mb-3
        input(class='form-control' id='card__holder__email' type='text' name='cardHolderEmail' )
      .mb-3
        input(class='form-control' id='card__expiration__date__month' type='text' name='cardExpirationDateMonth' )
      .mb-3
        input(class='form-control' id='card__expiration__date__year' type='text' name='cardExpirationDateYear' )
      .mb-3
        input(class='form-control' id='card__holder__name' type='text' name='cardHolderName' )
      .mb-3
        input(class='form-control' id='card__security__code' type='text' name='cardSecurotyCode' )
      .mb-3
        select(class='form-select' id='checkout__issuer' name='issuer')
      .mb-3
        select(class='form-select' id='checkout__identification__type' name='identificationType')
      .mb-3
        input(class='form-control' id='checkout__identification__number' type='text' name='identificationNumber' )
      .mb-3
        select(class='form-select' id='checkout__installments' name='installments')
      .mb-3
        button(class='btn btn-primary' type='submit' id='check__submit') Pay

block mercadopago
  script(src='/javascript/mercadopago.js')
