html(lang="en")
    head
        block meta
        block style 
        title= Title
    body
        .container-md
            .row
                block content
        block script 
        block mercadopago


        